/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

@mixin ms {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

@mixin ms-bl {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
}

/* HELPERS */
.reg {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.it {
  font-style: italic !important;
}

.upper {
  text-transform: uppercase !important;
}

.center {
  text-align: center !important;
}

/* COLORS */


/* GLOBAL & RESETS */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include ms();
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  outline: 0;
  cursor: pointer;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
